Package: com.cannathea.afc2d-arm64
Name: Apple File Conduit "2" (iOS 11+, arm64)
Version: 1.1.1
Description: Allow full file-system access over USB for all arm64 devices, especially useful for those on iOS 11 and above.
Section: System
Pre-Depends: dpkg (>= 1.14.25-8)
Depends: cy+cpu.arm64, mobilesubstrate, ldid
Conflicts: com.saurik.afc2d, net.angelxwind.afc2d-arm64, com.mrmadtw.afc2forios11, repo.feng.afc2add11, us.scw.afctwoadd, net.angelxwind.afc2ios70, afc2.25pp, afc2.25pp7, afc2.91, app.taig.afc2
Replaces: com.saurik.afc2d, net.angelxwind.afc2d-arm64, com.mrmadtw.afc2forios11, repo.feng.afc2add11, us.scw.afctwoadd, net.angelxwind.afc2ios70, afc2.25pp, afc2.25pp7, afc2.91, app.taig.afc2
Provides: com.saurik.afc2d, net.angelxwind.afc2d-arm64, com.mrmadtw.afc2forios11, repo.feng.afc2add11, us.scw.afctwoadd, net.angelxwind.afc2ios70, afc2.25pp, afc2.25pp7, afc2.91, app.taig.afc2
Architecture: iphoneos-arm
Author: saurik, Cannathea <csupport@cannathea.com>
Homepage: https://cannathea.com/
Depiction: https://cydia.akemi.ai/?page/com.cannathea.afc2d-arm64
Maintainer: Cannathea <csupport@cannathea.com>
Tag: purpose::daemon, role::enduser
